
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h1> Introduction of ASP.NET MVC Architecture </h1>
        <h3> Exercies Quesetions</h3>
        @Html.ActionLink("Question 01", "Ques1")<br />
        @Html.ActionLink("Question 02", "Ques2")<br />
        @Html.ActionLink("Question 03", "Ques3")<br />
        @Html.ActionLink("Question 04", "Ques4")<br />
        @Html.ActionLink("Question 05", "Ques5")<br />
    </div>
</body>
</html>
