@model IEnumerable<MVC_PROJECT.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarYear)
        </td>
       
    </tr>
}

</table>
